body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.65;
  color: #2d2f38;
}

a {
  color: #4B74FE;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #3463FF;
  text-decoration: underline;
}

.navbar {
  min-height: 70px;
}

@-webkit-keyframes navTransition {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

@keyframes navTransition {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

@media (min-width: 576px) {
  .navbar-expand-sm .navbar-nav {
    margin-top: 0;
    border-top: none;
  }
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .navbar-expand-sm .navbar-nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav {
    margin-top: 0;
    border-top: none;
  }
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .navbar-expand-md .navbar-nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    margin-top: 0;
    border-top: none;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .navbar-expand-lg .navbar-nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1200px) {
  .navbar-expand-xl .navbar-nav {
    margin-top: 0;
    border-top: none;
  }
  .navbar-expand-xl .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .navbar-expand-xl .navbar-nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.form-control {
  padding: 8px 15px;
  height: calc(1.5em + 1.375rem + 2px);
  border-color: #dee1e6;
}

.custom-select {
  height: calc(1.5em + 1.375rem + 2px);
}


.avatar {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.avatar-img {
  margin-right: 8px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar-img img {
  width: 100%;
  height: 100%;
}
.page-banner {
  position: relative;
  height: 340px;
  background-color: #6D728B;
}

.page-banner .container {
  position: relative;
  z-index: 10;
}

.page-banner.home-banner {
  height: auto;
  max-height: 500px;
}

.page-banner.overlay-dark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(109, 114, 139, 0.75);
  z-index: 1;
}

@media (min-width: 768px) {
  .page-banner.home-banner {
    height: 540px;
    max-height: unset;
  }
}

.slider-wrapper {
  position: relative;
  height: 100%;
}

.hero-carousel {
  height: 100%;
}

.owl-carousel .owl-stage-outer {
  height: 100%;
}

.hero-carousel-item {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero-carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 55, 75, 0.5);
}

.hero-carousel-item img {
  width: 100%;
  height: auto;
}

.hero-carousel .owl-nav {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.hero-carousel:hover .owl-nav {
  opacity: 1;
  visibility: visible;
}

.hero-carousel .owl-nav .owl-prev,
.hero-carousel .owl-nav .owl-next {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hero-carousel:hover .owl-nav .owl-prev,
.hero-carousel:hover .owl-nav .owl-next {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.hero-carousel .owl-dots {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}

.hero-carousel .img-caption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 0 16px;
  width: auto;
  max-width: 900px;
  height: 100%;
  text-align: center;
  color: #fff;
  margin-top: 10%;
}

.hero-carousel h1 {
  font-weight: 300;
}

.hero-carousel .subhead {
  color: #fff;
  font-weight: 400;
}

@media (min-width: 768px) {
  .hero-carousel h1 {
    font-size: 56px;
  }
  .hero-carousel .subhead {
    font-size: 20px;
  }
}

.page-section {
  position: relative;
  display: block;
  padding: 80px 0;
}

.page-section p {
  color: #6D728B;
}

.subhead {
  display: block;
  text-transform: capitalize;
  color: #AFB7C1;
  font-weight: 500;
  margin-bottom: 8px;
}

.title-section {
  display: block;
  max-width: 450px;
  color: #2d2f38;
  font-weight: 600;
  margin-bottom: 32px;
}

.text-center .title-section {
  margin-left: auto;
  margin-right: auto;
}

.about-img {
  position: relative;
  margin: 15px auto;
  width: auto;
  max-width: 500px;
  border-radius: 12px;
  overflow: hidden;
}

.about-img img {
  width: 100%;
}

.team-carousel {
  display: block;
  width: 100%;
}

.team-wrap {
  position: relative;
  margin: 0 auto;
  width: auto;
  max-width: 280px;
}

.team-profile {
  position: relative;
  display: block;
  width: 100%;
  border-radius: 6px;
  background-color: #AFB7C1;
  overflow: hidden;
}

.team-content {
  display: block;
  padding: 20px;
  background-color: #fff;
  color: #33374B;
}

.team-content .social-button {
  margin-top: 24px;
}

.team-content .social-button a {
  display: inline-block;
  margin-right: 4px;
  margin-bottom: 4px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  font-size: 14px;
  background-color: #F2F4FE;
  color: #6D728B;
  border-radius: 4px;
  -webkit-transition: background .2s ease, color .3s ease;
  transition: background .2s ease, color .3s ease;
}

.team-content .social-button a:hover {
  background-color: #2F89FC;
  color: #fff;
  text-decoration: none;
}

.card-testimonial {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 30px 20px;
  background-color: #F2F4FE;
  color: #6D728B;
  border-radius: 8px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.card-testimonial:hover {
  background-color: #fff;
}

.card-testimonial .content {
  margin-bottom: 24px;
}

.card-testimonial .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-testimonial .avatar {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
}

.card-testimonial .avatar img {
  width: 100%;
  height: 100%;
}

.card-testimonial .author-name {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
  color: #33374B;
}

.card-testimonial .author-info {
  font-size: 11px;
  color: #a1aab6;
}

.grid-item {
  padding: 16px;
  width: 33.33333%;
}

.form-contact .form-control {
  background-color: #F2F4FE;
  border-color: transparent;
}

.form-contact .form-control:focus {
  background-color: transparent;
  border-color: #94c2fd;
  -webkit-box-shadow: 0 0 0 1px #94c2fd;
          box-shadow: 0 0 0 1px #94c2fd;
}
.page-footer {
  position: relative;
  display: block;
  padding-top: 80px;
  padding-bottom: 20px;
  background-color: #1a1a22;
  color: #fff;
}

.page-footer h5 {
  margin-bottom: 24px;
}

.page-footer p {
  color: rgba(255, 255, 255, 0.7);
}

.footer-menu {
  position: relative;
  padding-left: 0;
  list-style: none;
}

.footer-menu li {
  margin-bottom: 8px;
}

.footer-menu a {
  color: #AFB7C1;
}

.footer-menu a:hover {
  color: #fff;
}

.sosmed-button a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
  outline: none !important;
}

.owl-nav {
  display: block;
  margin: auto;
  text-align: center;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  display: inline-block;
  margin: auto;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  background-color: #2F89FC;
  color: #fff;
}

.owl-carousel .owl-nav button.owl-next:focus,
.owl-carousel .owl-nav button.owl-prev:focus {
  outline: none;
}

.owl-carousel .owl-nav button.owl-next {
  right: 10px;
}

.owl-carousel .owl-nav button.owl-prev {
  left: 10px;
}

.owl-carousel .owl-dots {
  display: block;
  margin: 16px auto;
  text-align: center;
}

.owl-carousel button.owl-dot {
  display: inline-block;
  margin: 0 4px;
  width: 36px;
  height: 4px;
  background-color: #c6ccd3;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.owl-carousel button.owl-dot:focus {
  outline: none;
}

.owl-carousel button.owl-dot.active {
  background-color: #2F89FC;
}
